* {
    box-sizing: border-box;
}

body {
    background-color: #000305;
}

.header {
    background-color: #000305;
}

.header h1 {
    color: white;
    text-align: center;
}

.planetarium {
    margin: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
}

.container {
    align-items: center;
    justify-content: center;
    position: relative;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;

    z-index: 15;
    background-color: white;
    width: 50%;
    height: 50%;
    opacity: 0.9;
}

.polaroid {
    background-color: white;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid black;
}

.polaroid img {
    margin-top: 5%;
    width: 80%;
    height: 70%;
    object-fit: cover;
    object-position: center;
}

.text {
    width: 50%;
    padding: 0 5%;
}

.title {
    text-align: center;
}

.title--mobile {
    display: none;
}


@media (max-width: 400px) {
    .content {
        flex-direction: column;
        width: 80%;
        height: 80%;
        overflow-y: scroll;
    }

    .polaroid,
    .text {
        width: 100%;
    }

    .polaroid {
        height: 40%;
        border: none;
    }

    .polaroid img {
        height: 85%;
    }

    .title--mobile {
        display: inline;
    }
    .title--desktop {
        display: none;
    }

    .text {
        padding: 0 8px;
    }
}
